# Extractive Summarization

<p>Extractive summarization builds texts summaries by selecting passages directly from the document, rather than writing new text. This is the simplest way to summarize. A good summary is shorter than the original document but captures as much of the original meaning and information as possible.</p>
<p>Single-document summarization consists of three steps:</p>
<ol>
<li>Vectorize - turn each sentence/passage into a vector
<li>Score - rate each sentence/passage with a score
<li>Select - select the best sentences/passages
<ol>

# Import requirements

In [12]:
import pandas as pd
import numpy as np
import re
import nltk
import matplotlib.pyplot as plt
%matplotlib inline

# Import data

In [2]:
chapter_df = pd.read_csv('./KJB_chapters.csv')
chapter_df.head()

,book,chapter,char_count,text,word_count
0,Genesis,1,4117,In the beginning God created the heaven and th...,797
1,Genesis,2,3119,"Thus the heavens and the earth were finished, ...",632
2,Genesis,3,3435,Now the serpent was more subtil than any beast...,695
3,Genesis,4,3235,"And Adam knew Eve his wife; and she conceived,...",632
4,Genesis,5,2781,This is the book of the generations of Adam. I...,505

# Vectorization (Bag of Words)

In [20]:
def chapter_text_to_words(chapter_text):
    """
    Returns list of words in lowercase format provided the proper introduction
    """
    text_letters_only = re.sub("[^a-zA-Z]", " ", chapter_text) 
    return text_letters_only.lower().split()

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(lowercase=True)

# Scoring